.number-slide1 {
  background-image: url("../../../assets/coverwebngang8_8fd400bc06.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.number-slide2 {
  background-image: url("../../../assets/coverwebngang7_fe595d1d5a.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.number-slide3 {
  background-image: url("../../../assets/coverwebngang5_ca280cb139.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.number-slide4 {
  background-image: url("../../../assets/coverweb_ngang_2_9912cc2c28.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.number-slide5 {
  background-image: url("../../../assets/coverwebngang8_8fd400bc06.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.number-slide6 {
  background-image: url("../../../assets/coverweb_ngang_1_f947527894.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
