.main {
  color: white;
  font: 1em sans-serif;

  div {
    div:nth-child(1) {
      display: flex;
      width: 100%;

      //background-image: url("../../../assets/coverwebngang8_8fd400bc06.jpg");
    }
    div:nth-child(2) {
      display: flex;
      width: 100%;
      height: 100vh;
      background-color: #f7f5ef;
    }
    div:nth-child(3) {
      display: flex;
      width: 100%;
      height: 100vh;
      background-color: #ffffff;
    }
    div:nth-child(4) {
      display: flex;
      width: 100%;
      height: 100vh;
      background-color: #f7f5ef;
    }
    div:nth-child(5) {
      display: flex;
      width: 100%;
      height: 100vh;
      background-color: #656d51;
    }
    div:nth-child(6) {
      display: flex;
      width: 100%;
      height: 100vh;
      background-color: #f7f5ef;
    }
    div:nth-child(7) {
      display: flex;
      width: 100%;
      height: 500px;
      background-image: url("../../../assets/415496800_873930194430739_5190923133965027922_n.jpg");
    }
  }
}
