.main {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.6),
    /* This is fully transparent at the bottom */ transparent
  );
  backdrop-filter: sepia(60%);
  color: white;
  font-family: font-sans;
  font-weight: bold;
  padding: 50px;
  position: absolute;
  z-index: 50;
  width: 100%;
}
//bg-black text-white font-bold font-sans p-12 absolute z-50 w-full
